* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv2.jpg);
  background-position: bottom;
  background-size: cover;
}

p {
  font-size: 32px;
  padding: 20px;
  font-weight: 800;
  color: #808080;
}

main {
  width: 840px;
  margin: 50px auto;

.box1 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.box2 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.box3 {
  margin-bottom: 30px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}

.box4 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 30px;
}